* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: #fff;
}

header {
    background: #e10600;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


.hero {
    /* height: 300px;
    background: url("fotoebi/d7520f8f6175a41962b561e10de5257c.jpg") center/cover;
    display: flex;
    justify-content: center;
    align-items: center; */
    height: 350px;
    background-image: url("fotoebi/17ebb941bdd443c474b3da4ad9d8d890.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 25px;
    border-radius: 8px;
}

/* ===== NEWS SECTION ===== */
.news {
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.news h2 {
    width: 100%;
    margin-bottom: 20px;
}

.news-card {
    background: #1e1e1e;
    padding: 50px;
    margin-left: 50px;
    border-radius: 12px;
    width: 100%;
    max-width: 380px;
    transition: transform 0.3s;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.news-card h3 {
    margin-bottom: 10px;
}

.news-card p {
    font-size: 14px;
    margin-bottom: 10px;
}

.news-card a {
    color: #e10600;
    text-decoration: none;
    font-weight: bold;
}

.news-card a:hover {
    text-decoration: underline;
}


.standings {
    padding: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

table th {
    background: #e10600;
}

/* ===== FOOTER ===== */
footer {
    background: #000;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
}
